body{
    background-color: #F5F0E6;
}

nav{
    background-color: #F5F0E6;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    display: flex;
    font-size: 1.9vh;
    margin: 1%;
    font-family: 'Montserrat', sans-serif;
    color: #252823;
    transition: transform 0.3s;
}

.especialreserva{
    background-color:#718472;
    padding: 15px;
    color: #F5F0E6;
    border-radius: 20px;
}

nav a:hover{
    transform: translatey(-4px);
}

.logofundo{
    display: flex;
    background-color: #F5F0E6;
    align-items: center;
    flex-direction: column;
}

.logofundo img{
    width: 22%;
}

.logofundo .celu1{
    display: none;
}

.logofundo p{
    color: #6B5140;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    font-weight: 500px;
}

.logofundo h1{
   font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    color: #263D32;
    font-size: 50px;
}

.logofundo h2{
   font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    color: #263D32;
    font-size: 50px;
}

hr{
    background-color: #6B5140;
    width: 150px;
    border: none;
    height: 1px;
    margin-top: 15px;
}

.logofundo h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;

}

.logofundo h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.logofundo h5{
    background-color:#2a412b;
    padding: 15px;
    color: #F5F0E6;
    border-radius: 20px;
    margin-top: 20px;
}

.logos{
    display: flex;
   justify-content: space-around;
    margin-top: 50px;
    
}

.logos img{
    width: 50px;
    
}

.nosso{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #6B5140;
    font-family: 'Georgia', serif;
   
}

.linha2{
    background-color: #6B5140;
    width: 150px;
    border: none;
    height: 1px;
    margin-top: 15px;
}

.items{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 40px;

}

.items h6{
    font-family: 'Montserrat', sans-serif;
}

.mobile{
    display: none;
}

a{
    font-family: 'Montserrat', sans-serif;
}

.l1{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.l2{
    font-family: 'Montserrat', sans-serif;
}

.items:not(:last-child) {
    border-right: 1px solid #6B5140;
}

.celu1{
    display: none;
}

.ds{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color:#2a4122
}





.dcb {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}


.card {
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}


.cb {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    
}

.card:hover{
    transform: translateY(-10px);
}


.card-info {
    padding: 15px;
}


.dias {
    display: inline-block;
    background-color: #252823;
    color: white;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    margin-top: -30px;
    position: relative;
}


.card-info h2 {
    font-size: 20px;
    margin: 12px 0 6px;
    color: #252823;
}


.card-info p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}


.preco {
    border-top: 1px solid #ddd;
    padding-top: 12px;
}


.preco span {
    display: block;
    font-size: 12px;
    color: #777;
}


.preco strong {
    display: block;
    font-size: 20px;
    color: #252823;
    margin-top: 4px;
}


.dv{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.vistas{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #2a4122;
    
}

.v1{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.vv{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

button {
    background-color: #718472;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    transform: translateY(-3px);
}



footer {
    background-color: #252823;
    color: white;
    margin-top: 60px;
    padding: 40px 60px 20px;
    clear: both;
}

.footer-conteudo {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-conteudo div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-conteudo h2 {
    font-size: 24px;
}

.footer-conteudo h3 {
    font-size: 18px;
}

.footer-conteudo p,
.footer-conteudo a {
    font-size: 14px;
    color: #ddd;
}

.footer-conteudo a {
    text-decoration: none;
}

.footer-conteudo a:hover {
    color: white;
}

.footer-final {
    border-top: 1px solid #555;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
}

.glrt {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #2a2e28;
    text-align: center;
    margin-bottom: 30px;
}

.cv {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.destaques {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.dss{
    margin-top: 10px;
}

.pag{
    display: flex;
    justify-content: end;
}

.b1{
    margin-top: 10px;
}

.glrt{
    margin-top: 60px;
}

.cv1{
    width: 400px;
    height: 50%;
    gap: 30px;
}

.it{
    display: flex;
    align-items: center;
    gap: 40px;
}

.oqq{
    font-family: 'Cormorant Garamond', serif;
    font-size: 42px;
    font-weight: 500;
    color: #263D32;
    margin-bottom: 20px;
}

.tx{
    font-family: 'Montserrat', sans-serif;
}

.destaques1{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reserva {
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.reserva h1 {
    font-family: 'Cormorant Garamond', serif;
    color: #263D32;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.reserva form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reserva label {
    font-family: 'Montserrat', sans-serif;
    color: #252823;
}

.reserva input,
.reserva select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.reserva button {
    background-color: #718472;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

@media (max-width:768px) {

    body{
    background-color: #F5F0E6;
    overflow-x: hidden;
}

nav{
    background-color: #F5F0E6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    display: flex;
    font-size: 1.9vh;
    margin: 1%;
    font-family: 'Montserrat', sans-serif;
    color: #252823;
    transition: transform 0.3s;
}



.especialreserva{
    background-color:#718472;
    padding: 15px;
    color: #F5F0E6;
    border-radius: 20px;
}

nav a:hover{
    transform: translatey(-4px);
}

.logofundo{
    display: flex;
    background-color: #F5F0E6;
    align-items: center;
    flex-direction: column;
}

.logofundo img{
    display: flex;
    width: 22%;
    display: block;
}

.logofundo p{
    color: #6B5140;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    font-weight: 500px;
}

.logofundo h1{
   font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    color: #263D32;
    font-size: 30px;
    margin-top: 20px;
}

.logofundo h2{
   font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    color: #263D32;
    font-size: 30px;
}

hr{
    background-color: #6B5140;
    width: 150px;
    border: none;
    height: 1px;
    margin-top: 15px;
}

.logofundo h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    display: none;
}

.logofundo h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: none;
}

.logofundo h5{
    background-color:#2a412b;
    padding: 15px;
    color: #F5F0E6;
    border-radius: 20px;
    margin-top: 20px;
}

.destaques {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.cv {
    width: 70%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.logos{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 50px;
    
}

.logos img{
    width: 50px;
    margin-top: 30px;
    
}

.nosso{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #6B5140;
    font-family: 'Georgia', serif;
   
}

.linha2{
    background-color: #6B5140;
    width: 150px;
    border: none;
    height: 1px;
    margin-top: 15px;
}


.logofundo .celu1{
    display: block;
    width: 80%;
    max-width: 350px;
    
}

.items{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-right: 0;
}



.logos .mobile{
    display: block;
    width:60%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    margin-top: 30px;
    border-radius: 15px;
}

.items h6{
    font-family: 'Montserrat', sans-serif;
}

.l1{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    display: none;
}

.l2{
    font-family: 'Montserrat', sans-serif;
    display: none;
}

.items:not(:last-child) {
    border-right: 1px solid #6B5140;


}

.destaques1{
    display: none;
}

.vv{
    display: none;
}

.vistas{
    display: none;
}

.glrt{
    display: none;
}

}